@import "../../css/media.scss";

.StackItemsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 10rem;
  @include md {
    grid-template-columns: 1fr 1fr;
  }
}
